<!DOCTYPE html>
<html lang="fr">
<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="La boutique de oCoffee des frères Pepper, spécialistes du café à Hauts-de-Cloques">
  
    <title>oCoffee</title>
    <link rel="stylesheet" href="/css/reset.css">    
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/boutons.css">

    
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/@emailjs/browser@4/dist/email.min.js"></script>
    <script type="text/javascript">
        (function() {
            // https://dashboard.emailjs.com/admin/account
            emailjs.init({
              publicKey: "Cmz3BxpEA-ITG78Iv",
            });
        })();
    </script>
    <script type="text/javascript">
        window.onload = function() {
            document.getElementById('contact-form').addEventListener('submit', function(event) {
                event.preventDefault();
                // these IDs from the previous steps
                emailjs.sendForm('service_pjj8vwp', 'contact_form', this)
                    .then(() => {
                        console.log('SUCCESS!');
                    }, (error) => {
                        console.log('FAILED...', error);
                    });
            });
        }
    </script>
</head>
<body id="grad">
