<header class="header">
    <div class="header--logo">
        <img src="/images/logo.svg" alt="Logo oCoffee" class="header--logo__logo">
        <h1 class=" header--logo__titre">
            oCoffee
        </h1>
    </div>
    <nav class="menu">
        <ul class="menu--list">
            <li class="menu--list--link"><a  href="/" >Accueil</a></li>
            <li class="menu--list--link"><a href="/catalogue">Catalogue</a></li>
            <li class="menu--list--link"><a href="/who">Qui sommes-nous</a></li>
            <li class="menu--list--link"><a href="/contact">Contact</a></li>
        </ul>             
    </nav>
</header>